@import '../../scss/colors';

#footer {
  // Background color is set dynamically through loaded stylesheets. See 'LayoutService' for how they are loaded.
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 8px;
  width: 100%;
}

#footnote {
  font-size: 12px;
}
