  <!-- Material Styling - Desktop -->
  <mat-toolbar id="material-toolbar" class="mat-elevation-z4" color="primary">
    <button mat-button id="sidenav-toggle" (click)="clickSidenavButton()"><mat-icon>menu</mat-icon></button>
    <!-- <span class="page-title">{{pageTitle}}</span> - UNUSED AS OF 5/21/20 -->
    <button mat-button class="toolbar-option" [routerLink]="['/', 'home']" routerLinkActive="router-link-active">Home</button>
    <button mat-button class="toolbar-option" [routerLink]="['/', 'experience']" routerLinkActive="router-link-active">Experience</button>
    <span class="spacer"></span>
    <img class="toolbar-option external-link" matTooltip="Visit my Github" src="/assets/icon-github.png">
    <img class="toolbar-option external-link" matTooltip="Visit my Linkedin" src="/assets/icon-linkedin.png">
    <img class="toolbar-option external-link" matTooltip="Visit my Twitter" src="/assets/icon-twitter.png">
    <!-- <button mat-button class="toolbar-option" [routerLink]="['/', 'about']" routerLinkActive="router-link-active">About</button> -->
    <button mat-button matTooltip="Swap to the default style and layout" (click)="clickLayoutButton()">
      <mat-icon>loop</mat-icon>
    </button>
  </mat-toolbar>