.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-logo {
  margin-bottom: 40px;
  height: 200px;
  object-fit: scale-down;
}

mat-card {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 20px;
}

mat-card-header {
  flex-shrink: 0;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}


@media (max-width: 800px) {

  .card-container {
    flex-direction: column;
    margin: 8vw auto;
  }

  .experience-logo {
    width: 100%;
  }

  mat-card {
    width: 80%;
  }
}