<div id="toolbar">

  <!-- Custom Styling -->
  <div id="custom-toolbar" *ngIf="style === 'custom'">
    <span class="toolbar-option" [routerLink]="['/', 'home']" routerLinkActive="router-link-active">Home</span>
    <span class="toolbar-spacer"> | </span>
    <span class="toolbar-option" [routerLink]="['/', 'work']" routerLinkActive="router-link-active">Work</span>
    <span class="toolbar-spacer"> | </span>
    <span class="toolbar-option" [routerLink]="['/', 'about']" routerLinkActive="router-link-active">About</span>
  </div>

  <!-- Material Styling -->
  <mat-toolbar id="material-toolbar" *ngIf="style === 'material'">
    <span>{{pageTitle}}</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/', 'home']" routerLinkActive="router-link-active">Home</button>
    <button mat-button [routerLink]="['/', 'work']" routerLinkActive="router-link-active">Work</button>
    <button mat-button [routerLink]="['/', 'about']" routerLinkActive="router-link-active">About</button>
  </mat-toolbar>
</div>