<!-- Picture & Bio -->
<div id="parent-container">
  <div id="bio">
    <img src="/assets/picture.jpg">
    <section>
      <p>
        My name is <span>Robert Crowdis</span> - I'm currently a <span>Connecticut</span> based <span>Web
          Developer</span>.
      </p>
      <p>
        Some of my specialties include Google related technologies, such as <span>Google Cloud</span>, <span>Google
          Firebase</span>, and creating sleek modern web apps with <span>Angular Material</span>.
      </p>
      <p>
        In my spare time I like to play board games, longboard, solve puzzles, and practice my German (A2)
      </p>
      <p>
        This site is currently undergoing major revamping - so make sure to check back soon for updates!
      </p>
    </section>
  </div>

  <!-- Contact Me Icons -->
  <h1 id="contact-me-header">Let's Connect!</h1>
  <div id="contact-me">
    <a href="https://github.com/RobertCrowdis"><img src="/assets/icon-github.png"></a>
    <a href="https://www.linkedin.com/in/robertcrowdis/"><img src="/assets/icon-linkedin.png"></a>
    <a href="https://twitter.com/RobertCrowdis"><img src="/assets/icon-twitter.png"></a>
  </div>

  <router-outlet></router-outlet>
</div>

<app-footer [style]="layoutStyle" (selectLayoutEvent)="setLayout($event)"></app-footer>