<!--The content below is only a placeholder and can be replaced.-->

<!-- Picture & Bio -->
<div id="bio">
  <img src="/assets/picture.jpg">
  <section>
    <p>
      My name is <span>Robert Crowdis</span> - I'm a <span>Connecticut</span> based <span>Web Developer</span>.
    </p>
    <p>
      My specialties include Google related technologies, such as <span>Google Cloud</span>, <span>Google
        Firebase</span>, and creating sleek modern web apps with <span>Angular Material</span>.
    </p>
    <p>
      I really enjoy playing board games, coding, and solving all kinds of different puzzles!
    </p>
  </section>
</div>

<!-- Contact Me Icons -->
<h1 id="contact-me-header">Let's Connect!</h1>
<div id="contact-me">
  <a href="https://github.com/RobertCrowdis"><img src="/assets/icon-github.png"></a>
  <a href="https://www.linkedin.com/in/robertcrowdis/"><img src="/assets/icon-linkedin.png"></a>
  <a href="https://twitter.com/RobertCrowdis"><img src="/assets/icon-twitter.png"></a>
</div>

<router-outlet></router-outlet>