<ng-container *ngIf="experiences != null">
  <!-- Experiences -->
  <div class="experience-container" *ngFor="let experience of experiences">
    <img class="experience-logo" [src]="experience.thumbnail">
    <div class="experience-text-wrapper">
      <h3>{{experience.companyName}}</h3>
      <h4>{{experience.title}}</h4>
      <p>{{experience.dateStart | date:'MMM yyyy'}} to {{experience.dateEnd | date:'MMM yyyy'}}</p>
      <p>{{experience.description}}</p>
    </div>
  </div>
</ng-container>