<div class="about-column">
  <div class="about-row">
    <img class="self-photo" src="/assets/picture.jpg">
    <section>
      <h1>Robert Crowdis</h1>
      <p>
        I'm a <span>Connecticut</span> based <span>Web Developer</span> who loves an unhealthy amount of espresso.
      </p>
      <p>
        My specialties include Google related technologies, such as <span>Google Cloud</span>, <span>Google
          Firebase</span>, and creating sleek modern web apps with <span>Angular Material</span>.
      </p>
      <p>
        In my spare time I like to play board games, longboard, solve puzzles, and practice my German.
      </p>
    </section>
  </div>
</div>

<!-- Contact Me Icons -->
<h1 class="contact-me-header">Let's Connect!</h1>
<div class="contact-me">
  <a href="https://github.com/RobertCrowdis" target="_blank"><img src="/assets/icon-github.png"></a>
  <a href="https://www.linkedin.com/in/robertcrowdis/" target="_blank"><img src="/assets/icon-linkedin.png"></a>
  <a href="https://twitter.com/RobertCrowdis" target="_blank"><img src="/assets/icon-twitter.png"></a>
</div>