// This is the default styling for the website.
@import './scss/colors';

body, mat-sidenav-content {
  background-color: $default-background;
  color: $default-font-color;
}

#footer {
  background-color: $default-footer-background;
}

a {
  &:link {
    color: $default-primary;
  }

  &:hover {
    color: $default-primary-lighter;
  }

  &:visited {
    color: $default-primary-darker;
  }
}