// This is the material styling for the website.
@import './scss/colors';

body {
  background-color: $material-background;
  color: $material-font-color;
}

#footer {
  background-color: $material-footer-background;
}

a {
  &:link {
    color: $material-primary;
  }

  &:hover {
    color: $material-primary-lighter;
  }

  &:visited {
    color: $material-primary-darker;
  }
}

.mat-list-item {
  color: $material-font-color;
}
