$default-primary: orange;
$default-primary-lighter: rgb(255, 206, 40);
$default-primary-darker: rgba(195, 106, 0);

$default-secondary: blue;
$default-background: #2E2A27;
$default-font-color: seashell;
$default-border: gray;

$material-primary: rgb(72, 40, 136);
$material-primary-lighter: rgb(112, 80, 176);
$material-primary-darker: rgb(32, 0, 96);
$material-secondary: yellow;
$material-background: rgba(240, 240, 240, 1);
$material-font-color: #2E2A27;
$material-border: gray;